body { margin: 0; padding: 0; }

.board-container { background-image: url("../images/cogs.jpg"); background-size: cover; height: 100vh; width: 100vw; overflow: hidden; background-position: right; font-family: "Open Sans Condensed", sans-serif; }

button { color: white; cursor: pointer; }

.btn-round { display: inline-block; width: 18px; height: 18px; text-align: center; border: none; border-radius: 50%; padding: 2px; }

.btn-round i { margin: auto; font-size: 14px; }

.btn-round.btn-delete { background-color: #ff2020; position: absolute; right: 4px; top: 4px; }

.btn-round.btn-delete:hover { background-color: #b30b0b; }

.btn-add { margin-left: 4px; }

header { background: rgba(248, 238, 225, 0.3); color: #3b2416; padding: 2px 16px 12px 16px; width: 100%; }

header h1 { font-family: "Fredericka the Great", cursive; font-weight: 300; margin: 8px 0 4px 0; }

header .create-column { background: #643604; color: white; border: 0; border-radius: 10px; font-family: "Open Sans Condensed", sans-serif; font-size: 14px; padding: 10px; }

header .create-column:hover { background: #be7a25; }

.column-container { display: -ms-flexbox; display: flex; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 10px; width: 100%; }

.column { position: relative; background: #bea88b; border-radius: 12px; min-width: 150px; min-height: 140px; margin: 6px; padding: 6px 2px 2px 2px; }

.column .column-title { color: #be7a25; font-family: "Fredericka the Great", cursive; font-weight: 300; display: inline-block; padding: 0 12px; margin: 2px 2px 6px 2px; }

.column ul { list-style-type: none; padding: 3px 0; margin: 4px; min-height: 50px; border-top: dotted 1px #be7a25; border-bottom: dotted 1px #f8eee1; }

.column .add-card { display: block; float: bottom; background: #f8eee1; color: #3b2416; opacity: 0.5; margin: 6px; border: 0; border-radius: 10px; font-family: "Open Sans Condensed", sans-serif; font-size: 12px; padding: 4px 10px; }

.column .add-card:hover { background: white; }

.card { position: relative; display: block; border-radius: 10px; background: #f8eee1; color: #3b2416; padding: 4px 8px; margin: 4px 2px; }
